modules = ["nodejs-20"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 9443010

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
